@import '../../assets/scss/variable.scss';

.only-footer {
  width: 100%;
  min-height: 100vh;
  &__footer {
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
  }
  &__center {
    padding-bottom: 80px;
    min-height: 100vh;
  }
  &__container {
    width: 100%;
  }
}
