@import '../../assets/scss/variable.scss';

.only-header {
  width: 100%;
  min-height: 100vh;
  position: relative;
  &__header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
  }
  &__container {
    width: 100%;
  }
  &__center {
    padding-top: 50px;
    min-height: 100vh;
    &--blur {
      padding-top: 0px;
    }
    &--noti {
      padding-top: 0px;
      min-height: 100px;
    }
  }
}
.only-header__withBackground {
  background-color: #000 !important;
}
