@import "../../assets/scss/variable.scss";

.header-footer {
  width: 100%;
  min-height: 100vh;
  &__header {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
  }
  &__center {
    padding-top: 80px;
    padding-bottom: 70px;
    min-height: 100vh;
  }
  &__container {
    width: 100%;
  }
  &__footer {
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
  }
}
