.tutor-container {
  background: rgba(221, 221, 221, 0.212);
  border: 1px solid #cecece;
  border-radius: 4px;
  width: 100%;
  height: 400px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  .tutor-image {
    img {
      width: 100%;
      height: 200px;
    }
    padding: 14px 14px 16px 14px;
  }
  .tutor-information {
    display: flex;
    justify-content: space-between;
    .information-left {
      margin-left: 13px;
      &__name {
        margin: 0 0 12px 0;
        font: {
          size: 24px;
          weight: 700;
        }
        line-height: 25px;
      }
      &__location {
        display: flex;
        margin-bottom: 15px;
        .icon {
          width: 20px;
          height: 20px;
          margin-right: 11px;
        }
        p {
          font: {
            size: 14px;
            weight: 400;
          }
          line-height: 17px;
        }
      }
      &__teachingSubjects {
        @extend .information-left__location;
      }
      &__teachingLevel {
        @extend .information-left__location;
      }
    }
    .rating {
      display: flex;
      margin-right: 17px;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
