$radius: 10px;
.course-item {
  min-width: 240px;
  margin-right: 8px;
  min-height: 240px;
  border-radius: $radius;
  border: 1px solid rgba(0, 0, 0, 0.2);
  &__image {
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
    height: 120px;
    background-color: aqua;
    img {
      height: 120px;
      object-fit: cover;
      border-top-right-radius: $radius;
      border-top-left-radius: $radius;
    }
  }
  &__title {
    font-weight: normal;
    font-size: 14px;
  }
  &__header {
    display: flex;
    align-items: start;
    margin-bottom: 8px;
  }
  &__name {
    font-size: 18px;
    font-weight: bold;
    flex: 1;
  }
  &__info {
    padding: 4px 8px;
  }
  &__rating {
    display: flex;
    align-items: center;
    span {
      margin-right: 2px;
      margin-left: 8px;
    }
  }
}
