@import "../../assets//scss/variable.scss";
.searchbar {
  width: 600px;
  height: 44px;
  border: 2px solid $primary-color;
  border-radius: 4px;
  input {
    border-radius: 4px;
    border: none;
    height: 100%;
    width: 100%;
    color: black;
    font-size: 15px;
    padding: 0 1rem;
    &:focus {
      outline: none;
    }
    &:focus::placeholder {
      color: transparent;
      opacity: 0;
    }
    &::placeholder {
      color: #808080;
      font-size: 13px;
    }
  }
}
