@import "./../../index.scss";

.banner-container {
  background-image: url("./../../assets/images/20382870.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;

  .banner-overlay {
    position: absolute;
    content: "";
    background-color: black;
    opacity: 0.3;
    width: 100%;
    height: 100%;
  }
  .banner-content {
    color: white;
    position: absolute;
    width: 48%;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    @include mobile {
      top: 40%;
      width: 100%;
      text-align: center;
      left: 0;
      padding: 0 10px;
    }
    h1 {
      font: {
        size: 50px;
        weight: 700;
      }
      line-height: 60px;
      margin-bottom: 20px;
      @include mobile {
        font: {
          size: 30px;
          weight: 700;
        }
        line-height: 35px;
        margin-bottom: 10px;
      }
    }
    p {
      margin-bottom: 20px;
      font: {
        size: 18px;
        weight: 600;
      }
      line-height: 20px;
      @include mobile {
        margin-bottom: 10px;
        font: {
          size: 14px;
          weight: 500;
        }
        line-height: 14px;
      }
    }
    .banner-button {
      @include mobile {
        display: flex;
        justify-content: center;
        button {
          width: 100px !important;
          height: 30px !important;
          font-size: 16px !important;
        }
      }
    }
  }
}
