@import "../../assets/scss/variable.scss";

.footer {
  background: #e6e6e6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  @include mobile {
    grid-template-columns: 1fr;
  }
  @include tablet {
    grid-template-columns: 1fr;
  }
  .footer-about {
    margin: 60px 0;
    h2 {
      font: {
        size: 30px;
        weight: 700;
      }
      line-height: 30px;
      color: black;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        margin-bottom: 16px;
        a {
          text-decoration: none;
          color: black;
          line-height: 25px;
          font: {
            size: 18px;
            weight: 400;
          }
        }
      }
    }
  }
  .footer-join {
    @extend .footer-about;
  }
  .footer-contact {
    h2 {
      font: {
        size: 30px;
        weight: 700;
      }
      line-height: 30px;
      color: black;
      text-align: center;
    }
    &__socials {
      .socials-icon {
        display: inline-block;
        margin-right: 40px;
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
.copyright {
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
  background-color: black;
  color: white;
  font: {
    size: 14px;
    weight: 500;
  }
}
