@import "../../index.scss";
@import "../../assets/scss/variable.scss";

.course-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.course {
  padding: 50px 0;
  width: 60%;
  @include tablet {
    width: 90%;
    iframe {
      height: 300px;
    }
  }
  @include mobile {
    width: 100%;
    padding: 0 1rem;
    iframe {
      height: 200px;
    }
  }
  &__intro {
    display: flex;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }
  }
  &__left {
    flex: 0.45;
    margin-right: 2rem;
    @media screen and (max-width: 1000px) {
      margin-right: 0;
    }
    @include tablet {
    }

    .course-item {
      height: fit-content;
      max-height: unset;
      min-height: unset;
      width: 100%;
      max-width: unset;
      min-width: unset;
    }
    .course-item__label,
    .course-item__action {
      display: none;
    }
    .course-item__image {
      height: 240px;
      img {
        height: 240px;
      }
    }
  }
  &__right {
    width: 100%;
    flex: 0.55;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__info {
    display: flex;
    align-items: center;
  }
  &__first {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
  }
  &__name {
    display: flex;
    align-items: center;
    p {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 4px;
    }
  }
  &__subject {
    font-size: 18px;
  }
  &__syllabus-item {
    display: grid;
    grid-template-columns: 50px 4fr;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    word-break: keep-all;
    margin-bottom: 1rem;
    p {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
    }
  }
  &__syllabus {
    padding: 0 3rem;
  }
}
