@import "../../assets/scss/variable.scss";
.order-info {
  // display: grid;
  // margin: 70px 0;

  .order-info__details {
    display: flex;
    justify-content: center;
  }
  &__button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
